@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<style>
    table {
        width: 100%;
    }

    table, th, td {
        border: 1px solid  grey;
        border-collapse: collapse;
    }

    th, td {
        padding: 10px;
        text-align: left;
    }

    table#t01 tr:nth-child(even) {
        background-color: cadetblue;
        color: white;
        font-size: 18px;
    }

    table#t01 tr:nth-child(odd) {
        background-color: cornsilk;
        color: black;
        font-size: 18px;
    }

    table#t01 th {
        background-color: black;
        color: white;
        font-size: 25px;
    }
</style>

<H2>Team : Static</H2>

<table id="t01">
    <tr>
    
        <th>Name</th>
        <th>BITM ID</th>
    </tr>
    <tr>
       
        <td> Rezaur Rahman </td>
        <td>180272</td>
    </tr>
    <tr>
        
        <td> Muhaiminul Ahsun </td>
        <td>177785</td>
    </tr>
    <tr>
        
        <td> Khurshed Alam </td>
        <td>171536</td>
    </tr>
</table>