@{
    ViewBag.Title = "Home Page";
}

<div class="img-thumbnail">
    @*<h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>*@
    <img name="img" src="~/Photos/University-Management-System.jpg" width="1100px" height="400px"/>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Project feature</h2>
        <p>
            This project is a University Management Project. With help of this web app any University can manage 
            their Class Schedul, Class room allocation, Register a student, Assign course to a teacher and much more....
        </p>
    </div>
    <div class="col-md-4">
        <h2>Technology</h2>
        <p>This is a ASP.NET MVC Application. </p>
    </div>
    @*<div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
    </div>*@
</div>